.body {
     margin: 0px;
     background-color:rgb(249, 249, 249);
     padding-top: 78px;
     padding-left: 95px;
     padding-right: 20px;
     padding-bottom: 35px;
}

a {
     text-decoration: none;
}
p {
     font-family: arial;
     margin: 0;
}
span {
     font-family: arial;
}
 
.time {
     position: absolute;
     bottom: 10px;
     right: 5px;
     background-color: black;
     color: white;
     padding-right: 3px;
     padding-left:3px;
     padding-top: 3px;
     padding-bottom: 3px;
     font-size: 13px;
     font-weight: 500;
     border-radius: 2px;
}


.videos {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     width: 100%;
     column-gap: 15px;
     font-family: roboto;
     row-gap: 23px;
}
@media (max-width: 700px) {
     .body {
       padding-left: 10px;
       padding-right: 10px;
       padding-top: 78px;
       padding-bottom: 65px;
     }
}
@media (max-width: 1000px) {
     .videos {
          grid-template-columns: 1fr 1fr 1fr;
     }
}
@media (max-width: 800px) {
     .videos{
        grid-template-columns: 1fr 1fr;
     } 
}
@media (max-width: 500px) {
     .videos {
          grid-template-columns: 1fr;
     }
}


.vid-1 {
     display: flex;
     flex-direction: column;
}
.top-1 {
     position: relative;
}
.thumbnail-1 {
     width: 100%;
     height: auto;
}
.bottom-1 {
     display: flex;
     flex-direction: row;
     margin-top: 10px;
}
.right-1 {
     display: flex;
     flex-direction: column;
     margin-left: 10px;
}
.profile-pic-1 {
  width: 35px;
  height: 35px;
  border-radius: 15px;
  
}
.right-top-1 {
     font-size: 15px;
     font-weight: 590;
     line-height: 1.3;
     display: flex;
     justify-content: center;
     align-items: center;
     color: black;
}
.right-bottom-1 {
     font-size: 12px;
     margin-top: 10px;
     color: gray;
     line-height: 1.5;
}







.vid-2 {
     display: flex;
     flex-direction: column;
}
.top-2 {
     position: relative;
}
.thumbnail-2 {
     width: 100%;
     height: auto;
}
.bottom-2 {
     display: flex;
     flex-direction: row;
     margin-top: 10px;
}
.right-2 {
     display: flex;
     flex-direction: column;
     margin-left: 10px;
}
.profile-pic-2 {
  width: 35px;
  height: 35px;
  border-radius: 30px;
  
}
.right-top-2 {
     font-size: 15px;
     font-weight: 590;
     line-height: 1.3;
     display: flex;
     justify-content: center;
     align-items: center;
     color: black;
}
.right-bottom-2 {
     font-size: 12px;
     margin-top: 10px;
     color: gray;
     line-height: 1.5;
}






.vid-3 {
     display: flex;
     flex-direction: column;
}
.top-3 {
     position: relative;
}
.thumbnail-3 {
     width: 100%;
     height: auto;
}
.bottom-3 {
     display: flex;
     flex-direction: row;
     margin-top: 10px;
}
.right-3 {
     display: flex;
     flex-direction: column;
     margin-left: 10px;
}
.profile-pic-3 {
  width: 35px;
  height: 35px;
  border-radius: 30px;
  
}
.right-top-3 {
     font-size: 15px;
     font-weight: 590;
     line-height: 1.3;
     display: flex;
     justify-content: center;
     align-items: center;
     color: black;
}
.right-bottom-3 {
     font-size: 12px;
     margin-top: 10px;
     color: gray;
     line-height: 1.5;
}






.vid-4 {
     display: flex;
     flex-direction: column;
}
.top-4 {
     position: relative;
}
.thumbnail-4 {
     width: 100%;
     height: auto;
}
.bottom-4 {
     display: flex;
     flex-direction: row;
     margin-top: 10px;
}
.right-4 {
     display: flex;
     flex-direction: column;
     margin-left: 10px;
}
.profile-pic-4 {
  width: 35px;
  height: 35px;
  border-radius: 30px;
  
}
.right-top-4 {
     font-size: 15px;
     font-weight: 590;
     line-height: 1.3;
     display: flex;
     justify-content: center;
     align-items: center;
     color: black;
}
.right-bottom-4 {
     font-size: 12px;
     margin-top: 10px;
     color: gray;
     line-height: 1.5;
}






.vid-5 {
     display: flex;
     flex-direction: column;
}
.top-5 {
     position: relative;
}
.thumbnail-5 {
     width: 100%;
     height: 100%;
}
.bottom-5 {
     display: flex;
     flex-direction: row;
     margin-top: 10px;
}
.right-5 {
     display: flex;
     flex-direction: column;
     margin-left: 10px;
}
.profile-pic-5 {
  width: 35px;
  height: 35px;
  border-radius: 30px;
  
}
.right-top-5 {
     font-size: 15px;
     font-weight: 590;
     line-height: 1.3;
     display: flex;
     justify-content: center;
     align-items: center;
     color: black;
}
.right-bottom-5 {
     font-size: 12px;
     margin-top: 10px;
     color: gray;
     line-height: 1.5;
}





.vid-6 {
     display: flex;
     flex-direction: column;
}
.top-6 {
     position: relative;
}
.thumbnail-6 {
     width: 100%;
     height: auto;
}
.bottom-6 {
     display: flex;
     flex-direction: row;
     margin-top: 10px;
}
.right-6 {
     display: flex;
     flex-direction: column;
     margin-left: 10px;
}
.profile-pic-6 {
  width: 35px;
  height: 35px;
  border-radius: 30px;
  
}
.right-top-6 {
     font-size: 15px;
     font-weight: 590;
     line-height: 1.3;
     display: flex;
     justify-content: center;
     align-items: center;
     color: black;
}
.right-bottom-6 {
     font-size: 12px;
     margin-top: 10px;
     color: gray;
     line-height: 1.5;
}





.vid-7 {
     display: flex;
     flex-direction: column;
}
.top-7 {
     position: relative;
}
.thumbnail-7 {
     width: 100%;
     height: auto;
}
.bottom-7 {
     display: flex;
     flex-direction: row;
     margin-top: 10px;
}
.right-7 {
     display: flex;
     flex-direction: column;
     margin-left: 10px;
}
.profile-pic-7 {
  width: 35px;
  height: 35px;
  border-radius: 30px;
  
}
.right-top-7 {
     font-size: 15px;
     font-weight: 590;
     line-height: 1.3;
     display: flex;
     justify-content: center;
     align-items: center;
     color: black;
}
.right-bottom-7 {
     font-size: 12px;
     margin-top: 10px;
     color: gray;
     line-height: 1.5;
}







.vid-8 {
     display: flex;
     flex-direction: column;
}
.top-8 {
     position: relative;
}
.thumbnail-8 {
     width: 100%;
     height: auto;
}
.bottom-8 {
     display: flex;
     flex-direction: row;
     margin-top: 10px;
}
.right-8 {
     display: flex;
     flex-direction: column;
     margin-left: 10px;
}
.profile-pic-8 {
  width: 35px;
  height: 35px;
  border-radius: 30px;
  
}
.right-top-8 {
     font-size: 15px;
     font-weight: 590;
     line-height: 1.3;
     display: flex;
     justify-content: center;
     align-items: center;
     color: black;
}
.right-bottom-8 {
     font-size: 12px;
     margin-top: 10px;
     color: gray;
     line-height: 1.5;
}










.vid-9 {
     display: flex;
     flex-direction: column;
}
.top-9 {
     position: relative;
}
.thumbnail-9 {
     width: 100%;
     height: auto;
}
.bottom-9 {
     display: flex;
     flex-direction: row;
     margin-top: 10px;
}
.right-9 {
     display: flex;
     flex-direction: column;
     margin-left: 10px;
}
.profile-pic-9 {
  width: 35px;
  height: 35px;
  border-radius: 30px;
  
}
.right-top-9 {
     font-size: 15px;
     font-weight: 590;
     line-height: 1.3;
     display: flex;
     justify-content: center;
     align-items: center;
     color: black;
}
.right-bottom-9 {
     font-size: 12px;
     margin-top: 10px;
     color: gray;
     line-height: 1.5;
}







.vid-10 {
     display: flex;
     flex-direction: column;
}
.top-10 {
     position: relative;
}
.thumbnail-10 {
     width: 100%;
     height: auto;
}
.bottom-10 {
     display: flex;
     flex-direction: row;
     margin-top: 10px;
}
.right-10 {
     display: flex;
     flex-direction: column;
     margin-left: 10px;
}
.profile-pic-10 {
  width: 35px;
  height: 35px;
  border-radius: 30px;
  
}
.right-top-10 {
     font-size: 15px;
     font-weight: 590;
     line-height: 1.3;
     display: flex;
     justify-content: center;
     align-items: center;
     color: black;
}
.right-bottom-10 {
     font-size: 12px;
     margin-top: 10px;
     color: gray;
     line-height: 1.5;
}









.vid-11 {
     display: flex;
     flex-direction: column;
}
.top-11 {
     position: relative;
}
.thumbnail-11 {
     width: 100%;
     height: auto;
}
.bottom-11 {
     display: flex;
     flex-direction: row;
     margin-top: 10px;
}
.right-11 {
     display: flex;
     flex-direction: column;
     margin-left: 10px;
}
.profile-pic-11 {
  width: 35px;
  height: 35px;
  border-radius: 30px;
  
}
.right-top-11 {
     font-size: 15px;
     font-weight: 590;
     line-height: 1.3;
     display: flex;
     justify-content: center;
     align-items: center;
     color: black;
}
.right-bottom-11 {
     font-size: 12px;
     margin-top: 10px;
     color: gray;
     line-height: 1.5;
}






.vid-12 {
     display: flex;
     flex-direction: column;
}
.top-12 {
     position: relative;
}
.thumbnail-12 {
     width: 100%;
     height: auto;
}
.bottom-12 {
     display: flex;
     flex-direction: row;
     margin-top: 10px;
}
.right-12 {
     display: flex;
     flex-direction: column;
     margin-left: 10px;
}
.profile-pic-12 {
  width: 35px;
  height: 35px;
  border-radius: 30px;
  
}
.right-top-12 {
     font-size: 15px;
     font-weight: 590;
     line-height: 1.3;
     display: flex;
     justify-content: center;
     align-items: center;
     color: black;
}
.right-bottom-12 {
     font-size: 12px;
     margin-top: 10px;
     color: gray;
     line-height: 1.5;
}








.vid-13 {
     display: flex;
     flex-direction: column;
}
.top-13 {
     position: relative;
}
.thumbnail-13 {
     width: 100%;
     height: auto;
}
.bottom-13 {
     display: flex;
     flex-direction: row;
     margin-top: 10px;
}
.right-13 {
     display: flex;
     flex-direction: column;
     margin-left: 10px;
}
.profile-pic-13 {
  width: 35px;
  height: 35px;
  border-radius: 30px;
  
}
.right-top-13 {
     font-size: 15px;
     font-weight: 590;
     line-height: 1.3;
     display: flex;
     justify-content: center;
     align-items: center;
     color: black;
}
.right-bottom-13 {
     font-size: 12px;
     margin-top: 10px;
     color: gray;
     line-height: 1.5;
}





.vid-14 {
     display: flex;
     flex-direction: column;
}
.top-14 {
     position: relative;
}
.thumbnail-14 {
     width: 100%;
     height: auto;
}
.bottom-14 {
     display: flex;
     flex-direction: row;
     margin-top: 10px;
}
.right-14 {
     display: flex;
     flex-direction: column;
     margin-left: 10px;
}
.profile-pic-14 {
  width: 35px;
  height: 35px;
  border-radius: 30px;
  
}
.right-top-14 {
     font-size: 15px;
     font-weight: 590;
     line-height: 1.3;
     display: flex;
     justify-content: center;
     align-items: center;
     color: black;
}
.right-bottom-14 {
     font-size: 12px;
     margin-top: 10px;
     color: gray;
     line-height: 1.5;
}











  